<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
<script type="text/javascript">
window.setInterval(function(){
XHR.get('<%=luci.dispatcher.build_url("admin","network","adcpd","status")%>',nul
function(x,st){
        var i = 0;
        var j =1;
})
},2000);

</script>

<fieldset class="cbi-section">
	<legend><%:Nearby MAC%></legend>
	<table class="cbi-section-table" id="mac_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:MAC%></th>
			<th class="cbi-section-table-cell"><%:Signal%></th>
			<th class="cbi-section-table-cell"><%:Start Time%></th>
			<th class="cbi-section-table-cell"><%:End Time%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="4"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>