<%-
local sys = require "luci.sys"
local fs = require "luci.fs"
local utl = require "luci.util"
local uci = require "luci.model.uci".cursor()
local ntm = require "luci.model.network"

local has_iwinfo = pcall(require,"iwinfo")

ntm.init(uci)

local devices = ntm.get_wifidevs()
local arpcache = {}
sys.net.arptable(function(e) arpcache[e["HW address"]:upper()] = e["IP address"]end)

local netlist = {}
local netdevs = {}

local dev
for _,dev in ipairs(devices) do
        local net
        for _,net in ipairs(dev:get_wifinets()) do
                netlist[#netlist + 1] = net:id()
                netdevs[net:id()] = dev:name()
        end
end
-%>
<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
<script type="text/javascript"><![CDATA[

var wifidevs = <%=luci.http.write_json(netdevs)%>
var arptable = <%=luci.http.write_json(arpcache)%>

window.setInterval(function(){
XHR.get('<%=luci.dispatcher.build_url("admin","network","scan_mac_list")%>',null,
function(x,st){
        if(st){
                var mactable = document.getElementById("mac_table");

                if(mactable){
                        while(mactable.rows.length > 1)
                                mactable.rows[1].parentNode.removeChild(mactable.rows[1]);

                        for(var i = 0 ; i < st.length; i++){
                                var item = st[i];

                                var tr =  mactable.insertRow(-1);
                                tr.className = 'cbi-section-table-row';

                                tr.insertCell(-1).innerHTML = item.mac;
                                tr.insertCell(-1).innerHTML = item.signal;
                                tr.insertCell(-1).innerHTML = item.startTime;
                                tr.insertCell(-1).innerHTML = item.endTime;
                        }
                }
        }
})
},300);

XHR.poll(5,'<%=luci.dispatcher.build_url("admin","network","wireless_status",table.concat(netlist,","))%>',null,
function(x,st)
{
        if(st){
        }
});

]]></script>

<fieldset class="cbi-section">
	<legend><%:Nearby MAC%></legend>
	<table class="cbi-section-table" id="mac_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:MAC%></th>
			<th class="cbi-section-table-cell"><%:Signal%></th>
			<th class="cbi-section-table-cell"><%:Start Time%></th>
			<th class="cbi-section-table-cell"><%:End Time%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="4"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>
